
.main{
     width:100%;
 width: 100vw;

}



.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-clr);
  color:var(--font-color);
 
 
}

.brandTitle{
    font-size: 1.5rem;
    margin:1rem;
    color: var(--quinary-clr);
}

.brandTitle:hover{
    color:var(--tertiary-clr);
}
.navbar_links > ul{
    margin:0;
    padding:0;
    display: flex;

}

.navbar_links > ul> li{
    list-style: none;
}

.navbar_links > ul> li > a{
    padding: 1rem;
    text-decoration: none;
    display: block;
}

.navbar_links > ul> li :hover{
    background-color: var( --quinary-clr);
    color:black;
}

.toggle_button{
    position: absolute;
    top:1.25rem;
    right:1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:21px;
}

.toggle_button .bar{
    height:3px;
    width:100%;
    background-color: var(--font-color);
    border-radius: 10px;
}

@media (max-width: 600px){
    .toggle_button{
        display: flex;
    }
    .navbar_links{
        display: none;
        width:100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar_links > ul{
        width:100%;
        flex-direction: column;
    }

    .navbar_links > ul> li > a{
        padding: 0.75rem 1rem;
    }

    .navbar_links.active{
        display:flex;
    }
}