:root {
    --primary-clr:#132a13;
    --secondary-clr:#31572c;
    --tertiary-clr:#4f772d;
    --quaternary-clr:#90a955;
    --quinary-clr:#ecf39e;
    --font-color:white;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
  }

  body{
    margin:0;
    padding:0;
    color:var(--font-color);
    
  }

  a{
    color:inherit;

  }


  *{
    box-sizing: border-box;
  }
