.main {
  
  min-height: 100vh;
  background-image: url('/bg-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:8rem;
  width:500px;
}

.text{
  line-height: 1.75rem;
}

.btn{
padding: 1.25rem 3rem;
border-radius: 1rem;
background-color: var(--secondary-clr);
color:var(--font-white);
  
}

.btn:hover{
  background-color: var(--quinary-clr);
  color:var(--primary-clr);
}